:root {
  --main-bkg-color: #F1F2F6;
  --section-bkg-color: #FFFFFF;
  --nav-bkg-color: #0746A7;
  --nav-accent: #3B6BB7;
  --input-color: #8FBDF9;
  --nav-text-color: #FFFFFF;
  --main-accent: #EEEFF3;
  --border-color: #D4D4D4;
  --text-color-bold: #343537;
  --text-color-light: #828282;
  --button-bkg-color: #5CC684;
  --text-color-active: #0746A7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  transition: all 0.1s;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.App {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: var(--main-bkg-color);
}

.App-Container {
  width: 100%;
  max-width: 90em;
  position: relative;
  background: transparent;
}

